body {
    background-color: #333
}

.top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

/* .top-bar-button {
    /* background-color: #007BFF; */
/* color: white;
border: none;
padding: 10px 20px;
border-radius: 5px;
cursor: pointer;
font-size: 16px;
transition: background-color 0.3s; */
/* }  */


.top-bar-button:hover {
    /* background-color: #0056b3; */
}

.top-bar-input {
    color: white;
    cursor: pointer;
}

.top-bar-input[type="file"]::-webkit-file-upload-button {
    /* background-color: #007BFF; */
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.top-bar-input[type="file"]::-webkit-file-upload-button:hover {
    /* background-color: #0056b3; */
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 3vh;
    justify-content: center;
    padding: 10vh 0vh;
}

.image-grid h1 {
    width: 100%;
    text-align: center;
}

.image-grid-item {
    flex: 0 1 calc(33.33% - 8vw);
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-grid-item-image {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.image-grid-placeholder {
    width: 200px;
    padding-top: 200px;
    background: #f0f0f0;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image-grid-placeholder span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #666;
    font-size: 14px;
}

.hover-image-window {
    position: absolute;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 10px;
    border-radius: 5px;
}

.hover-image-window img {
    max-width: 200px;
    max-height: 200px;
    display: block;
}

.loader {
    border: 16px solid #282c2c;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
    transform: translate(-50%, -50%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}